{% extends 'base.html' %}
{% load static %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
    <section id="profile">
        <div class="slogan container container--90">
            <ul>
                <li>Imię: {{ profile.first_name }}</li>
                <li>Nazwisko: {{ profile.last_name }}</li>
                <li>e-mail: {{ profile.email }}</li>
            </ul>
        </div>

        <div>
            <table>
                <thead>
                <tr>
                    <th>Organizacja</th>
                    <th>Ilość Worków</th>
                    <th>Kategorie Darów</th>
                    <th>Data Wpisu</th>
                    <th>Data Odebrania</th>
                    <th>Status</th>
                    <th>Zmień Status</th>
                </tr>
                </thead>
                <tbody>
                {% for donation in donations %}
                    <tr {% if donation.is_taken == True %}style=" color: #bcbcbc" {% endif %}>
                        <td>{{ donation.institution.name }}</td>
                        <td>{{ donation.quantity }}</td>
                        <td>
                            <ul>
                                {% for category in donation.categories.all %}
                                    <li>{{ category.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ donation.date_added }}</td>
                        <td>{{ donation.pick_up_date }}</td>
                        {% if donation.is_taken == True %}
                            <td>ODEBRANE</td>
                        {% else %}
                            <td>NIE ODEBRANE</td>
                        {% endif %}
                        <td>
                            <form action="#profile" method="get">
                                {% if donation.is_taken == True %}
                                    <input type="text" name="is_taken" value="False" hidden>
                                    <button type="submit" name="don_id" value="{{ donation.id }}">ZMIEŃ</button>
                                {% else %}
                                    <input type="text" name="is_taken" value="True" hidden>
                                    <button type="submit" name="don_id" value="{{ donation.id }}">ZMIEŃ</button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>



            {#            {% for donation in donations|dictsort:'date_added'|dictsort:'pick_up_date'|dictsort:'is_taken' %}#}
            {#                <tr>#}
            {#                    <td>{{ donation.institution.name }}</td>#}
            {#                    <td>{{ donation.quantity }}</td>#}
            {#                    <td>#}
            {#                        <ul>{% for category in donation.categories.all %}#}
            {#                            <li>{{ category.name }}</li>#}
            {#                        {% endfor %}</ul>#}
            {#                    </td>#}
            {#                    <td>{{ donation.date_added }}</td>#}
            {#                    <td>{{ donation.pick_up_date }}</td>#}
            {##}
            {#                    {% if donation.is_taken == True %}#}
            {#                        <td>ODEBRANE</td>#}
            {#                    {% else %}#}
            {#                        <td>NIE ODEBRANE</td>#}
            {#                    {% endif %}#}
            {#                </tr>#}
            {#            {% endfor %}#}
{% endblock %}